@import url(components/nav.css);
@import url(components/hero-section.css);
@import url(components/img.css);
@import url(components/main.css);
@import url(components/section.css);
@import url(components/projects.css);
@import url(components/experience.css);
@import url(components/technologies.css);
@import url(components/contact.css);
@import url(components/mail.css);
@import url(components/resume.css);
@import url(components/footer.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

