nav {
    padding: 8px 0px;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #333;
    padding-right: 15px;
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

